/*Resetear estilos del navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100vh; /* asegura que cubra toda la pantalla */
}

/*Declaracion de variables personalizadas*/
:root{
  --color-background: #91f76f;
  --color-initial-letter: #052e03e7;
  --color-title: #1d3557;
  --color-text: #457b9d;
  --color-buttons: #a8dadc;
  --color-backgorund-card: #91f76f;
  --font-initial-letter: "Libertinus Keyboard", system-ui;
  --font-title: "Libre Baskerville", serif;
  --font-text: "Libertinus Serif Display", system-ui;
}


body {
  background-image: url("./img/fondoAcronimo.jpg");
  display: flex;
  justify-content: center;
}

.container { 
  max-width: 900px;
  width: 100%;
}

.page-header{
  text-align: center;
  margin-bottom: 7px;
  background-color: var(--color-background);
  padding: 10px;
}
h1 { 
  font-family: var(--font-title);
  font-size: 35px;
  color: var(--color-title);
}
p {
  font-family: var(--font-text);
  font-size: 25px;
  color: var(--color-text);
}

.card {
  background-color: var(--color-backgorund-card);
  margin: 25px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 12px 0px 12px 12px;
  display: flex;
  align-items: center;  
  gap: 20px;
  /*Alentiza el movimiento del hover*/
  transition: transform 0.3s, box-shadow 0.3s; 

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 10px 5px 5px #134701;
}

.letter-and-text, .button-container, .image{
  flex: 1; /*Cada parte ocupa un espacio similar*/
  text-align: center;

}

.letter {
  font-family: var(--font-initial-letter);
  margin: 30px;
  font-size: 80px;
  color: var(--color-initial-letter);
}

figcaption {
  font-size: 2rem;
  font-family: var(--font-text);
}

img {
  width: 50%;
  height: auto; /*Mantiene la proporción al cambiar el ancho*/
  border-radius: 8px;
}

button {
  background-color: var(--color-initial-letter);
  color: white;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 15px;
  font-family: var(--font-text);
  cursor: pointer; /*El cursor cambia a una mano*/
}
button:hover {
  background-color: var(--color-buttons);
}